.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.letter {
  border-radius: 8px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid blue;
  margin: 2px;
}

.selected {
  background: #c8c83b;
}

.noCount {
  background: #b8b8b8;
}

.oneCount {
  background: #F0EA8A;
}

.twoCount {
  background: #c0f08a;
}

.threeCount {
  background: #a9f08a;
}

.manyCount {
  background: #8af0ae;
}

.keyLetter {
  font-weight: 300;
  font-size: 30px;
}

.keyCount {
  font-size: 12px;
}

.gridRow {
  display: flex;
  height: 60px;
}

.invalidMessage {
  color: red;
}

.submissionBox {
  font-size:24px;
}

.currentWord {
  height: 50px;
  margin-bottom: 20px;
}

#lines {
  position: absolute;
  top: 0;
  opacity: .5;
  z-index: 10
}

.lineOrDot {
  background-color: #111ba2;
  border: 0 solid transparent;
  pointer-events: none;
  position: absolute
}

.dot {
  /* --height: calc(10 * var(--unit));
  height: var(--height);
  width: var(--height); */
  border-radius: 50%
}

.line {
  border-radius: 10px
}

/* Fade-Out Effect */
/* .fadeOut
{
visibility: hidden;
opacity: 0;
transition: visibility 1s 2s, opacity 2s linear;
} */

.fadeOut {
  animation: fadeOut ease 5s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
