.noselect {
  touch-action: none;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.app {
  max-width: 400px;
  padding: 10px;
  overflow: visible;
  height: 100%;
}

.game {
  height: 100%;
}

.letter {
  border-radius: 8px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid blue;
  margin: 2px;
  position: relative;
}

.letterSpacer {
  width: 50px;
  height: 50px;
  margin: 2px;
}

.letterDiv {
  border-radius: 25px;
  width: 45px;
  height: 45px;
  display: flex;  
  justify-content: center;
  align-items: center;
}

.grid {
  justify-content: center;
  align-items: center;
}

.groatate {
  animation: rotateBoard 0.25s;
}

.letterRot {
  animation: rotateLetter 0.25s;
}

@keyframes rotateBoard {
  0% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes rotateLetter {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.selected {
  background: #c8c83b;
}

.noCount {
  background: #b8b8b8;
}

.oneCount {
  background: #F0EA8A;
}

.twoCount {
  background: #c0f08a;
}

.threeCount {
  background: #a9f08a;
}

.manyCount {
  background: #8af0ae;
}

.keyLetter {
  font-weight: 600;
  font-size: 30px;
}

.keyLetterMedium {
  font-size: 26px;
  font-weight: 600;
}

.keyLetterSmall {
  font-size: 22px;
  font-weight: 600;
}

.sideEffect {
  color: blue;
}

.gridRow {
  display: flex;
  height: 60px;
}

.invalidMessage {
  color: red;
}

.submissionBox {
  font-size:24px;
}

.currentWord {
  height: 50px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 30px;
  margin: 0px;
}

.timer {
  margin: 2px;
}

#lines {
  position: absolute;
  top: 0;
  opacity: .5;
  z-index: 10
}

.lineOrDot {
  background-color: #111ba2;
  border: 0 solid transparent;
  pointer-events: none;
  position: absolute
}

.dot {
  /* --height: calc(10 * var(--unit));
  height: var(--height);
  width: var(--height); */
  height: 40px;
  width: 40px;
  border-radius: 50%
}

.line {
  border-radius: 10px
}

/* Fade-Out Effect */
/* .fadeOut
{
visibility: hidden;
opacity: 0;
transition: visibility 1s 2s, opacity 2s linear;
} */

.fadeOut {
  animation: fadeOut linear 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 12px;
}

#progressbar {
  background-color: rgb(64, 64, 64);
  border-radius: 13px;
  /* (height of inner div) / 2 + padding */
  padding: 3px;
  position:relative;
  overflow: hidden;
}

#progressbar>div {
  background-color: #646cff;
  width: 0.5%;
  /* Adjust with JavaScript */
  height: 20px;
  border-radius: 10px;
  position:relative;
  float: left;
  -webkit-transition: width 250ms ease;
	-moz-transition: width 250ms ease;
	-o-transition: width 250ms ease;
	transition: width 250ms ease;
}

#progressbar>center {
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto;
  color:aliceblue;
}

.face {
  border-radius: 8px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #0000ff;
  margin: 2px;
}

.die {
  display: flex;
  justify-content: left;
  align-items: center;
  transform-style: preserve-3d;
}

.die.assembled {
  animation: dieRotate 1.5s ease-in forwards;
  position: absolute;
}

@keyframes dieRotate {
  0% {transform:rotate3d(0,0,0, 0);}
  40% {transform:rotate3d(2, -1, -1, -0.2turn);}
  95% {transform: translateX(calc(var(--width-offset) - 120px)) translateY(calc(var(--height-offset) + 60px)) rotate3d(2, -1, -1, -0.5turn) scale3d( 0.1, 0.1, 0.1 )}
  100% {transform: translateX(calc(var(--width-offset) - 120px)) translateY(calc(var(--height-offset) + 60px)) rotate3d(2, -1, -1, -0.5turn) scale3d( 0.0001, 0.0001, 0.0001 )}
}

.die.assembled .face:nth-child(1) {
  animation: face1Left 2s;
}

.die.assembled .face:nth-child(2) {
  animation: face2Front 2s;
}

.die.assembled .face:nth-child(3) {
  animation: face3Right 2s;
}

.die.assembled .face:nth-child(4) {
  animation: face4Back 2s;
}

.die.assembled .face:nth-child(5) {
  animation: face5Top 2s;
}

.die.assembled .face:nth-child(6) {
  animation: face6Bottom 2s;
}

@keyframes face1Left {
  25% {
    transform: translate3d(28px, 0, 28px) rotate3D(0,1,0,-90deg);
  }
  100% {
    transform: translate3d(28px, 0, 28px) rotate3D(0,1,0,-90deg);
  }
}

@keyframes face2Front {
  50% {
  }

}

@keyframes face3Right {
  25% {transform: translate3d(-28px, 0, 28px) rotate3D(0,1,0,90deg);}
  100% {transform: translate3d(-28px, 0, 28px) rotate3D(0,1,0,90deg);}
}

@keyframes face4Back {
  25% {transform: translate3d(-112px, 0, 56px) rotate3D(0,1,0,180deg)}
  100% {transform: translate3d(-112px, 0, 56px) rotate3D(0,1,0,180deg)}
}

@keyframes face5Top{
  25% {transform: translate3d(calc(-56px*3), 28px, 28px) rotate3D(1,0,0,90deg);}
  100% {transform: translate3d(calc(-56px*3), 28px, 28px) rotate3D(1,0,0,90deg);}
}

@keyframes face6Bottom {
  25% {transform: translate3d(calc(-56px*4), -28px, 28px) rotate3D(1,0,0,-90deg);}
  100% {transform: translate3d(calc(-56px*4), -28px, 28px) rotate3D(1,0,0,-90deg);}
}

.bonus>h3 {
  margin: 3px;
}
.bonus>p {
  margin: 3px;
}

.reward {
  margin-bottom: 20px;
}

.letterBonus {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 1px;
}

.bonus {
  font-size: 10px;
  color: #646cff;
}

#viewDice {
  float:right;
  color: #646cff;
}

.gainDie {
  animation: gainDieKeyframes 0.25s;
}

@keyframes gainDieKeyframes {
  50% {transform: scale(1.5);}
}

#letterTable {
  width: 50%
}

#letterTable>tr:nth-of-type(odd) {
  background-color:#ededed;
}

#letterTable>tr>th {
  text-align: left;
}
